<!-- carousel -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    
    <style>
        #introCarousel,
        .carousel-inner,
        .carousel-item,
        .carousel-item.active {
          height: 70vh;
        }
        {
            margin-top: -58.59px;
          }
        
    </style>

    <div class="carousel-indicators">
        <button
                type="button"
                data-mdb-target="#carouselBasicExample"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselBasicExample"
                data-mdb-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselBasicExample"
                data-mdb-slide-to="2"
                aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" >
            <img src="https://im.uniqlo.com/global-cms/spa/resc71af24aed491fee2d7508aaa41a6d47fr.jpg" class="d-block w-100" alt="First Slide"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block" >
                <h1 class="mb-1">
                    <strong>Enjoy The Shopping at Our Store</strong>
                </h1>
                <p>
                    <strong>Find Your Style with the Ease of Online Shopping at Our Store - High Quality Fashion Only Here!</strong>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://im.uniqlo.com/global-cms/spa/rescd7cf0f5753cef9b9125e0dc4c71f505fr.jpg" class="d-block w-100" alt="Camera"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block">
                <h1 class="mb-1">
                    <strong>Explore Our Collection</strong>
                </h1>
                <p>
                    <strong>Free Shipping on All Orders of $100+</strong>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://im.uniqlo.com/global-cms/spa/res2503e05519d090e8dff82ad300a0ac1afr.jpg" class="d-block w-100" alt="Exotic Fruits"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block">
                <h1 class="mb-1">
                    <strong>New Arrival with Special Offers</strong>
                </h1>
                <p>
                    <strong>Start Dressing better - High-Quality Fashion Only Here!</strong>
                </p>
            </div>
        </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>